In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import re

# to avoid warnings
import warnings
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

###  Read the dataset as a dataframe via dataset link. 
* Create a copy of your dataframe.
* Solve the rest of the questions using this dataframe copy <br>

![](http://www.noaa.gov/sites/default/files/styles/square_width_650/public/2021-02/FocusArea__Weather-02.jpg?h=5dc006f5&itok=20VGa8_F)

In [2]:
weather = pd.read_csv("weatherAUS.csv")

df = weather.copy()

df.head(2)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No

 ### Find out the describe and info attributes of the dataframe.

In [3]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
MinTemp,143975.0,12.194034,6.398495,-8.5,7.6,12.0,16.9,33.9
MaxTemp,144199.0,23.221348,7.119049,-4.8,17.9,22.6,28.2,48.1
Rainfall,142199.0,2.360918,8.478060,0.0,0.0,0.0,0.8,371.0
Evaporation,82670.0,5.468232,4.193704,0.0,2.6,4.8,7.4,145.0
Sunshine,75625.0,7.611178,3.785483,0.0,4.8,8.4,10.6,14.5
WindGustSpeed,135197.0,40.035230,13.607062,6.0,31.0,39.0,48.0,135.0
WindSpeed9am,143693.0,14.043426,8.915375,0.0,7.0,13.0,19.0,130.0
WindSpeed3pm,142398.0,18.662657,8.809800,0.0,13.0,19.0,24.0,87.0
Humidity9am,142806.0,68.880831,19.029164,0.0,57.0,70.0,83.0,100.0
Humidity3pm,140953.0,51.539116,20.795902,0.0,37.0,52.0,66.0,100.0
Pressure9am,130395.0,1017.649940,7.106530,980.5,1012.9,1017.6,1022.4,1041.0
Pressure3pm,130432.0,1015.255889,7.037414,977.1,1010.4,1015.2,1020.0,1039.6
Cloud9am,89572.0,4.447461,2.887159,0.0,1.0,5.0,7.0,9.0
Cloud3pm,86102.0,4.509930,2.720357,0.0,2.0,5.0,7.0,9.0
Temp9am,143693.0,16.990631,6.488753,-7.2,12.3,16.7,21.6,40.2
Temp3pm,141851.0,21.683390,6.936650,-5.4,16.6,21.1,26.4,46.7

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

###   Find out the shape and size info of the dataset.

In [6]:
df.shape

(145460, 23)

In [7]:
df.size

3345580

### Find out the types values of the columns and save the result as a dataframe.

In [8]:
df_type = pd.DataFrame([df[col].dtype for col in df.columns])

df_type.index = df.columns

df_type.rename(columns={0:"Dtype"}, inplace=True)

df_type

                 Dtype
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

In [9]:
df_type = df.dtypes
df_type = pd.DataFrame(df_type,columns=["Dtype"]) 
df_type

                 Dtype
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

###  Find out the non-null counts of the columns and save the result as a dataframe.

In [10]:
def notnull_data(data):
    
    not_null = data.notnull().sum().sort_values(ascending = False)
    
    return pd.DataFrame(not_null).rename(columns={0:"NotNull"})

notnull_data(df)

               NotNull
Date            145460
Location        145460
MaxTemp         144199
MinTemp         143975
Temp9am         143693
WindSpeed9am    143693
Humidity9am     142806
WindSpeed3pm    142398
RainToday       142199
Rainfall        142199
RainTomorrow    142193
Temp3pm         141851
WindDir3pm      141232
Humidity3pm     140953
WindGustSpeed   135197
WindGustDir     135134
WindDir9am      134894
Pressure3pm     130432
Pressure9am     130395
Cloud9am         89572
Cloud3pm         86102
Evaporation      82670
Sunshine         75625

### Find out the null counts of the columns and save the result as a dataframe.

In [11]:
def isnull_data(data):
    
    isnull = data.isnull().sum().sort_values(ascending = True)
    
    return pd.DataFrame(isnull).rename(columns={0:"Null"})

isnull_data(df)

                Null
Date               0
Location           0
MaxTemp         1261
MinTemp         1485
Temp9am         1767
WindSpeed9am    1767
Humidity9am     2654
WindSpeed3pm    3062
Rainfall        3261
RainToday       3261
RainTomorrow    3267
Temp3pm         3609
WindDir3pm      4228
Humidity3pm     4507
WindGustSpeed  10263
WindGustDir    10326
WindDir9am     10566
Pressure3pm    15028
Pressure9am    15065
Cloud9am       55888
Cloud3pm       59358
Evaporation    62790
Sunshine       69835

### Find out the unique counts of the columns and save the result as a dataframe

In [12]:
def nunique_data(data):
    
    nunique = data.nunique().sort_values(ascending = False)
    
    return pd.DataFrame(nunique).rename(columns={0:"Nunique"})

nunique_data(df)

               Nunique
Date              3436
Rainfall           681
Pressure3pm        549
Pressure9am        546
MaxTemp            505
Temp3pm            502
Temp9am            441
MinTemp            389
Evaporation        358
Sunshine           145
Humidity9am        101
Humidity3pm        101
WindGustSpeed       67
Location            49
WindSpeed3pm        44
WindSpeed9am        43
WindDir3pm          16
WindDir9am          16
WindGustDir         16
Cloud9am            10
Cloud3pm            10
RainToday            2
RainTomorrow         2

### Merge the dataframes you created in questions 4-5-6-7. Expected output: example result

In [13]:
def summry_data(data):
    
    df_type = data.dtypes
    
    Not_Null_value =  data.notnull().sum()
    
    Null_value = data.isnull().sum()
    
    percent_value = (data.isnull().sum()/data.isnull().count()*100)
    
    number_unique_value = data.nunique()
    
    df_final = pd.concat([df_type, Not_Null_value, Null_value, percent_value,number_unique_value],
                         axis=1, keys=["Dtypes", 'Notnull', "Isnull" ,'Percent',"Nunique"])
    
    df_final = df_final.sort_values(by="Percent",ascending=True).reset_index().rename(columns={"index":"Columns"})
    
    df_final.Percent = round(df_final.Percent,2)
    
    return df_final

summry_data(df)

          Columns   Dtypes  Notnull  Isnull  Percent  Nunique
0            Date   object   145460       0     0.00     3436
1        Location   object   145460       0     0.00       49
2         MaxTemp  float64   144199    1261     0.87      505
3         MinTemp  float64   143975    1485     1.02      389
4         Temp9am  float64   143693    1767     1.21      441
5    WindSpeed9am  float64   143693    1767     1.21       43
6     Humidity9am  float64   142806    2654     1.82      101
7    WindSpeed3pm  float64   142398    3062     2.11       44
8        Rainfall  float64   142199    3261     2.24      681
9       RainToday   object   142199    3261     2.24        2
10   RainTomorrow   object   142193    3267     2.25        2
11        Temp3pm  float64   141851    3609     2.48      502
12     WindDir3pm   object   141232    4228     2.91       16
13    Humidity3pm  float64   140953    4507     3.10      101
14  WindGustSpeed  float64   135197   10263     7.06       67
15    WindGustDir   object   135134   10326     7.10       16
16     WindDir9am   object   134894   10566     7.26       16
17    Pressure3pm  float64   130432   15028    10.33      549
18    Pressure9am  float64   130395   15065    10.36      546
19       Cloud9am  float64    89572   55888    38.42       10
20       Cloud3pm  float64    86102   59358    40.81       10
21    Evaporation  float64    82670   62790    43.17      358
22       Sunshine  float64    75625   69835    48.01      145

### Lowercase all column names

In [14]:
[col.lower() for col in df.columns]

['date',
 'location',
 'mintemp',
 'maxtemp',
 'rainfall',
 'evaporation',
 'sunshine',
 'windgustdir',
 'windgustspeed',
 'winddir9am',
 'winddir3pm',
 'windspeed9am',
 'windspeed3pm',
 'humidity9am',
 'humidity3pm',
 'pressure9am',
 'pressure3pm',
 'cloud9am',
 'cloud3pm',
 'temp9am',
 'temp3pm',
 'raintoday',
 'raintomorrow']

In [15]:
df.columns = [col.lower() for col in df.columns]
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

### Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns

In [16]:
rain_map ={"No": "NoRain",
          "Yes": "Rain"}

In [17]:
df["raintoday"].map(rain_map)

0         NoRain
1         NoRain
2         NoRain
3         NoRain
4         NoRain
           ...
145455    NoRain
145456    NoRain
145457    NoRain
145458    NoRain
145459    NoRain
Name: raintoday, Length: 145460, dtype: object

In [18]:
df["raintoday"].map(rain_map).value_counts()

NoRain    110319
Rain       31880
Name: raintoday, dtype: int64

In [19]:
 # lambda x: True if x % 2 == 0 else False
    
df["raintoday"].transform(lambda x : "NoRain" if x == "No" else "Rain" ) # lambda x: True if x % 2 == 0 else False

0         NoRain
1         NoRain
2         NoRain
3         NoRain
4         NoRain
           ...
145455    NoRain
145456    NoRain
145457    NoRain
145458    NoRain
145459    NoRain
Name: raintoday, Length: 145460, dtype: object

In [20]:
df["raintoday"].transform(lambda x : "NoRain" if x == "No" else "Rain" ).value_counts()

NoRain    110319
Rain       35141
Name: raintoday, dtype: int64

In [21]:
df["raintoday"] = df["raintoday"].map(rain_map)

df["raintomorrow"] = df["raintomorrow"].map(rain_map)

In [22]:
df.sample(5)

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
44046,2013-04-07,Wollongong,14.8,22.1,4.2,NaN,NaN,NNE,24.0,W,...,84.0,68.0,1024.6,1021.6,1.0,NaN,17.3,21.3,Rain,NoRain
95386,2014-12-05,Townsville,23.6,32.8,0.0,12.6,12.2,NNE,37.0,N,...,56.0,49.0,1011.8,1007.3,3.0,3.0,28.9,31.1,NoRain,NoRain
17576,2016-01-03,Newcastle,18.4,24.2,1.0,NaN,NaN,NaN,NaN,ESE,...,73.0,NaN,NaN,NaN,8.0,NaN,23.4,NaN,NoRain,Rain
36787,2009-09-16,WaggaWagga,0.3,25.4,0.0,3.6,11.2,ENE,26.0,E,...,59.0,22.0,1022.1,1016.4,0.0,1.0,11.5,24.5,NoRain,NoRain
29739,2016-04-15,Richmond,12.1,28.8,0.0,2.4,NaN,ENE,24.0,ENE,...,80.0,36.0,1026.5,1020.7,NaN,NaN,19.1,27.9,NoRain,NoRain

In [23]:
print(df[["raintoday","raintomorrow"]])

       raintoday raintomorrow
0         NoRain       NoRain
1         NoRain       NoRain
2         NoRain       NoRain
3         NoRain       NoRain
4         NoRain       NoRain
...          ...          ...
145455    NoRain       NoRain
145456    NoRain       NoRain
145457    NoRain       NoRain
145458    NoRain       NoRain
145459    NoRain          NaN

[145460 rows x 2 columns]

### Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.

In [24]:
df["date"]

0         2008-12-01
1         2008-12-02
2         2008-12-03
3         2008-12-04
4         2008-12-05
             ...
145455    2017-06-21
145456    2017-06-22
145457    2017-06-23
145458    2017-06-24
145459    2017-06-25
Name: date, Length: 145460, dtype: object

In [25]:
df["date"].astype("datetime64")

0        2008-12-01
1        2008-12-02
2        2008-12-03
3        2008-12-04
4        2008-12-05
            ...
145455   2017-06-21
145456   2017-06-22
145457   2017-06-23
145458   2017-06-24
145459   2017-06-25
Name: date, Length: 145460, dtype: datetime64[ns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           145460 non-null  object
 1   location       145460 non-null  object
 2   mintemp        143975 non-null  float64
 3   maxtemp        144199 non-null  float64
 4   rainfall       142199 non-null  float64
 5   evaporation    82670 non-null   float64
 6   sunshine       75625 non-null   float64
 7   windgustdir    135134 non-null  object
 8   windgustspeed  135197 non-null  float64
 9   winddir9am     134894 non-null  object
 10  winddir3pm     141232 non-null  object
 11  windspeed9am   143693 non-null  float64
 12  windspeed3pm   142398 non-null  float64
 13  humidity9am    142806 non-null  float64
 14  humidity3pm    140953 non-null  float64
 15  pressure9am    130395 non-null  float64
 16  pressure3pm    130432 non-null  float64
 17  cloud9am       89572 non-null   float64
 18  cloud3pm       86102 non-null   float64
 19  temp9am        143693 non-null  float64
 20  temp3pm        141851 non-null  float64
 21  raintoday      142199 non-null  object
 22  raintomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [27]:
df["date"] = df["date"].astype("datetime64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           145460 non-null  datetime64[ns]
 1   location       145460 non-null  object
 2   mintemp        143975 non-null  float64
 3   maxtemp        144199 non-null  float64
 4   rainfall       142199 non-null  float64
 5   evaporation    82670 non-null   float64
 6   sunshine       75625 non-null   float64
 7   windgustdir    135134 non-null  object
 8   windgustspeed  135197 non-null  float64
 9   winddir9am     134894 non-null  object
 10  winddir3pm     141232 non-null  object
 11  windspeed9am   143693 non-null  float64
 12  windspeed3pm   142398 non-null  float64
 13  humidity9am    142806 non-null  float64
 14  humidity3pm    140953 non-null  float64
 15  pressure9am    130395 non-null  float64
 16  pressure3pm    130432 non-null  float64
 17  cloud9am       89572 non-null   float64
 18  cloud3pm       86102 non-null   float64
 19  temp9am        143693 non-null  float64
 20  temp3pm        141851 non-null  float64
 21  raintoday      142199 non-null  object
 22  raintomorrow   142193 non-null  object
dtypes: datetime64[ns](1), float64(16), object(6)
memory usage: 25.5+ MB

### Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.

In [28]:
df["difference"] = df["maxtemp"] - df["mintemp"]

In [29]:
df.sample(5)

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
98119,2013-09-01,Adelaide,17.1,28.3,0.0,NaN,10.2,NW,43.0,NE,...,32.0,1020.2,1020.4,NaN,NaN,22.6,27.4,NoRain,NoRain,11.2
133246,2009-07-04,Launceston,1.3,14.7,0.0,NaN,NaN,WSW,50.0,WNW,...,43.0,1007.7,1004.0,NaN,NaN,5.0,13.7,NoRain,NoRain,13.4
44204,2013-09-12,Wollongong,11.4,20.7,0.0,NaN,NaN,S,76.0,W,...,54.0,1014.8,1010.6,NaN,4.0,17.1,18.8,NoRain,NoRain,9.3
14585,2016-02-21,Moree,23.4,36.9,0.0,NaN,NaN,E,52.0,NE,...,28.0,1020.7,1017.6,NaN,6.0,27.3,33.7,NoRain,Rain,13.5
77960,2017-05-28,Portland,7.4,11.4,19.4,NaN,NaN,WSW,59.0,W,...,75.0,1007.6,1009.4,8.0,8.0,8.8,7.9,Rain,Rain,4.0

### Remove the evaporation and sunshine columns from the dataset permanently.

In [30]:
df.drop(["sunshine","evaporation"],axis = 1)

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN,NaN

In [31]:
df.drop(["sunshine","evaporation"],axis = 1 ,inplace=True)

### Find out the most rainy day for each city

In [32]:
 df.groupby(by=["location"])["rainfall"].max()

location
Adelaide             75.2
Albany               49.4
Albury              104.2
AliceSprings         62.0
BadgerysCreek       116.0
Ballarat             95.0
Bendigo              66.4
Brisbane            182.6
Cairns              278.4
Canberra             87.0
Cobar                68.0
CoffsHarbour        371.0
Dartmoor             73.6
Darwin              367.6
GoldCoast           183.4
Hobart               71.6
Katherine           167.0
Launceston           88.0
Melbourne            82.2
MelbourneAirport     75.8
Mildura             155.0
Moree               113.0
MountGambier         84.6
MountGinini         107.6
Newcastle           240.0
Nhil                 65.6
NorahHead           126.4
NorfolkIsland       156.8
Nuriootpa            76.6
PearceRAAF           62.4
Penrith             115.4
Perth               114.4
PerthAirport         76.6
Portland             72.0
Richmond            113.4
Sale                 55.6
SalmonGums           55.4
Sydney              119.4
SydneyAirport       106.8
Townsville          236.8
Tuggeranong          93.0
Uluru                83.8
WaggaWagga          110.8
Walpole              93.2
Watsonia             87.4
Williamtown         225.0
Witchcliffe          99.4
Wollongong          192.0
Woomera              66.4
Name: rainfall, dtype: float64

### Filter out all the data for the city 'Albury' and then sort according to maxtemp column.

In [33]:
cod=df["location"] == "Albury"

df[cod].sort_values(by="maxtemp",ascending=False)

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
68,2009-02-07,Albury,22.3,44.8,0.0,NNW,59.0,SE,NW,9.0,...,11.0,1008.2,1003.8,NaN,NaN,29.6,43.4,NoRain,NoRain,22.5
2904,2017-02-10,Albury,23.0,43.7,0.0,WSW,44.0,SSE,W,7.0,...,17.0,1009.9,1006.1,NaN,NaN,28.2,42.4,NoRain,NoRain,20.7
1783,2014-01-16,Albury,23.0,43.6,0.0,N,35.0,E,SSW,9.0,...,12.0,1016.6,1012.2,NaN,NaN,31.8,41.7,NoRain,NoRain,20.6
1435,2013-01-05,Albury,19.8,43.4,0.0,NW,81.0,S,ESE,7.0,...,17.0,1012.4,1009.8,NaN,1.0,30.7,42.4,NoRain,Rain,23.6
62,2009-02-01,Albury,28.0,43.1,0.0,SW,83.0,SE,E,15.0,...,9.0,1012.5,1008.7,NaN,NaN,32.4,41.9,NoRain,NoRain,15.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,2011-09-11,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,2011-09-12,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,2013-05-07,Albury,3.9,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,1028.6,NaN,NaN,NaN,9.8,NaN,NoRain,NaN,NaN
2031,2014-09-21,Albury,3.4,NaN,0.0,NaN,NaN,ESE,SSE,9.0,...,43.0,1030.6,1027.5,NaN,NaN,12.2,18.6,NoRain,NaN,NaN
2032,2014-09-22,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###  Find out the NaN counts for each column.

In [34]:
df.isnull().sum()

date                 0
location             0
mintemp           1485
maxtemp           1261
rainfall          3261
windgustdir      10326
windgustspeed    10263
winddir9am       10566
winddir3pm        4228
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
cloud9am         55888
cloud3pm         59358
temp9am           1767
temp3pm           3609
raintoday         3261
raintomorrow      3267
difference        1881
dtype: int64

### Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

In [35]:
df.loc[df.windgustdir.isnull()]

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
14,2008-12-15,Albury,8.4,24.6,0.0,NaN,NaN,S,WNW,4.0,...,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,NoRain,NaN,16.2
64,2009-02-03,Albury,21.5,37.7,0.0,NaN,NaN,N,NaN,13.0,...,21.0,1009.2,1005.7,NaN,NaN,27.2,36.2,NoRain,NoRain,16.2
65,2009-02-04,Albury,21.7,36.9,0.0,NaN,NaN,NaN,NaN,11.0,...,26.0,1008.8,1004.7,NaN,NaN,25.5,35.2,NoRain,NoRain,15.2
283,2009-09-10,Albury,2.6,NaN,0.0,NaN,NaN,E,WNW,6.0,...,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,NoRain,NaN,NaN
435,2010-02-09,Albury,22.1,35.1,0.0,NaN,NaN,ENE,SW,6.0,...,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,NoRain,NaN,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145091,2016-06-22,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,...,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,NoRain,NaN,6.8
145092,2016-06-23,Uluru,14.2,18.7,NaN,NaN,NaN,W,NaN,9.0,...,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN,4.5
145316,2017-02-02,Uluru,27.5,36.5,0.0,NaN,NaN,ESE,E,13.0,...,34.0,1011.9,1007.8,NaN,4.0,29.0,35.4,NoRain,Rain,9.0
145335,2017-02-21,Uluru,13.5,NaN,0.0,NaN,NaN,ENE,SW,24.0,...,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,NoRain,NaN,NaN
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN,NaN

In [36]:
df.loc[df.windgustdir.isnull()].index

Int64Index([    14,     64,     65,    283,    435,    437,    443,    452,
               455,    458,
            ...
            145086, 145087, 145088, 145089, 145090, 145091, 145092, 145316,
            145335, 145459],
           dtype='int64', length=10326)

In [37]:
indexs = df.loc[df.windgustdir.isnull()].index
indexs

Int64Index([    14,     64,     65,    283,    435,    437,    443,    452,
               455,    458,
            ...
            145086, 145087, 145088, 145089, 145090, 145091, 145092, 145316,
            145335, 145459],
           dtype='int64', length=10326)

In [38]:
#for i in indexs:
#    df.drop(i, axis = 0,inplace = True)

In [39]:
df.dropna(subset=['windgustdir'],inplace = False)

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,E,31.0,ESE,E,15.0,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,NoRain,NoRain,18.3
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain,19.2

### Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.

In [40]:
weather = pd.read_csv("weatherAUS.csv")

df = weather.copy()

In [41]:
df.groupby(by="Location")["Evaporation","Sunshine"].agg([min,max,np.median])

                 Evaporation               Sunshine
                         min    max median      min   max median
Location
Adelaide                 0.0   43.4    4.2      0.0  13.9   8.40
Albany                   0.0   33.6    3.8      0.0  13.8   6.90
Albury                   NaN    NaN    NaN      NaN   NaN    NaN
AliceSprings             0.0   50.2    8.2      0.0  13.5  10.60
BadgerysCreek            NaN    NaN    NaN      NaN   NaN    NaN
Ballarat                 NaN    NaN    NaN      NaN   NaN    NaN
Bendigo                  0.0   15.4    3.1      NaN   NaN    NaN
Brisbane                 0.0   44.0    5.2      0.0  13.5   9.40
Cairns                   0.2   44.4    6.0      0.0  12.8   8.60
Canberra                 0.0   20.0    3.6      0.0  13.6   8.00
Cobar                    0.0   86.2    5.6      0.0  13.7   9.90
CoffsHarbour             0.0   19.8    3.6      0.0  13.8   8.50
Dartmoor                 0.0   16.4    2.8      0.0  14.3   6.50
Darwin                   0.2   19.2    6.4      0.0  12.3  10.00
GoldCoast                NaN    NaN    NaN      NaN   NaN    NaN
Hobart                   0.0   20.2    3.2      0.0  14.2   7.00
Katherine                0.0   31.0    7.2      NaN   NaN    NaN
Launceston               0.0   30.4    5.2      NaN   NaN    NaN
Melbourne                0.0   23.8    4.0      0.0  13.9   6.50
MelbourneAirport         0.0   23.8    4.0      0.0  13.9   6.50
Mildura                  0.0   23.2    5.2      0.0  14.5   9.10
Moree                    0.2   65.4    6.4      0.0  14.0  10.10
MountGambier             0.0   16.4    2.8      0.0  14.3   6.50
MountGinini              NaN    NaN    NaN      NaN   NaN    NaN
Newcastle                NaN    NaN    NaN      NaN   NaN    NaN
Nhil                     NaN    NaN    NaN      NaN   NaN    NaN
NorahHead                NaN    NaN    NaN      NaN   NaN    NaN
NorfolkIsland            0.0   74.8    4.4      0.0  13.3   7.80
Nuriootpa                0.0   42.6    4.0      0.0  14.3   8.20
PearceRAAF               NaN    NaN    NaN      0.0  13.9   9.40
Penrith                  NaN    NaN    NaN      NaN   NaN    NaN
Perth                    0.0   17.0    4.8      0.0  13.9   9.40
PerthAirport             0.0   17.0    5.0      0.0  13.9   9.40
Portland                 0.0   16.4    2.8      0.0  14.3   6.50
Richmond                 0.0   37.2    4.0      NaN   NaN    NaN
Sale                     0.0   18.0    3.4      0.0  13.9   7.05
SalmonGums               NaN    NaN    NaN      NaN   NaN    NaN
Sydney                   0.0   18.4    4.8      0.0  13.6   8.30
SydneyAirport            0.0   18.4    4.8      0.0  13.6   8.20
Townsville               0.4   30.2    7.0      0.0  12.8  10.00
Tuggeranong              NaN    NaN    NaN      NaN   NaN    NaN
Uluru                    NaN    NaN    NaN      NaN   NaN    NaN
WaggaWagga               0.0   39.4    4.0      0.0  14.1   9.10
Walpole                  NaN    NaN    NaN      NaN   NaN    NaN
Watsonia                 0.0   23.8    4.0      0.0  13.9   6.50
Williamtown              0.0  145.0    5.2      0.0  13.7   8.10
Witchcliffe              NaN    NaN    NaN      NaN   NaN    NaN
Wollongong               NaN    NaN    NaN      NaN   NaN    NaN
Woomera                  0.0   82.4    8.4      0.0  14.2   9.90

In [42]:
df.groupby('Location').aggregate({'Evaporation':['min','max',np.median],'Sunshine':['min','max',np.median]})

                 Evaporation               Sunshine
                         min    max median      min   max median
Location
Adelaide                 0.0   43.4    4.2      0.0  13.9   8.40
Albany                   0.0   33.6    3.8      0.0  13.8   6.90
Albury                   NaN    NaN    NaN      NaN   NaN    NaN
AliceSprings             0.0   50.2    8.2      0.0  13.5  10.60
BadgerysCreek            NaN    NaN    NaN      NaN   NaN    NaN
Ballarat                 NaN    NaN    NaN      NaN   NaN    NaN
Bendigo                  0.0   15.4    3.1      NaN   NaN    NaN
Brisbane                 0.0   44.0    5.2      0.0  13.5   9.40
Cairns                   0.2   44.4    6.0      0.0  12.8   8.60
Canberra                 0.0   20.0    3.6      0.0  13.6   8.00
Cobar                    0.0   86.2    5.6      0.0  13.7   9.90
CoffsHarbour             0.0   19.8    3.6      0.0  13.8   8.50
Dartmoor                 0.0   16.4    2.8      0.0  14.3   6.50
Darwin                   0.2   19.2    6.4      0.0  12.3  10.00
GoldCoast                NaN    NaN    NaN      NaN   NaN    NaN
Hobart                   0.0   20.2    3.2      0.0  14.2   7.00
Katherine                0.0   31.0    7.2      NaN   NaN    NaN
Launceston               0.0   30.4    5.2      NaN   NaN    NaN
Melbourne                0.0   23.8    4.0      0.0  13.9   6.50
MelbourneAirport         0.0   23.8    4.0      0.0  13.9   6.50
Mildura                  0.0   23.2    5.2      0.0  14.5   9.10
Moree                    0.2   65.4    6.4      0.0  14.0  10.10
MountGambier             0.0   16.4    2.8      0.0  14.3   6.50
MountGinini              NaN    NaN    NaN      NaN   NaN    NaN
Newcastle                NaN    NaN    NaN      NaN   NaN    NaN
Nhil                     NaN    NaN    NaN      NaN   NaN    NaN
NorahHead                NaN    NaN    NaN      NaN   NaN    NaN
NorfolkIsland            0.0   74.8    4.4      0.0  13.3   7.80
Nuriootpa                0.0   42.6    4.0      0.0  14.3   8.20
PearceRAAF               NaN    NaN    NaN      0.0  13.9   9.40
Penrith                  NaN    NaN    NaN      NaN   NaN    NaN
Perth                    0.0   17.0    4.8      0.0  13.9   9.40
PerthAirport             0.0   17.0    5.0      0.0  13.9   9.40
Portland                 0.0   16.4    2.8      0.0  14.3   6.50
Richmond                 0.0   37.2    4.0      NaN   NaN    NaN
Sale                     0.0   18.0    3.4      0.0  13.9   7.05
SalmonGums               NaN    NaN    NaN      NaN   NaN    NaN
Sydney                   0.0   18.4    4.8      0.0  13.6   8.30
SydneyAirport            0.0   18.4    4.8      0.0  13.6   8.20
Townsville               0.4   30.2    7.0      0.0  12.8  10.00
Tuggeranong              NaN    NaN    NaN      NaN   NaN    NaN
Uluru                    NaN    NaN    NaN      NaN   NaN    NaN
WaggaWagga               0.0   39.4    4.0      0.0  14.1   9.10
Walpole                  NaN    NaN    NaN      NaN   NaN    NaN
Watsonia                 0.0   23.8    4.0      0.0  13.9   6.50
Williamtown              0.0  145.0    5.2      0.0  13.7   8.10
Witchcliffe              NaN    NaN    NaN      NaN   NaN    NaN
Wollongong               NaN    NaN    NaN      NaN   NaN    NaN
Woomera                  0.0   82.4    8.4      0.0  14.2   9.90

### Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

In [43]:
cod = df["Location"]=="Perth"

In [44]:
df[cod].sort_values(by="MaxTemp", ascending=False)[:1][["Location", "Date", "MaxTemp"]]

       Location        Date  MaxTemp
122928    Perth  2015-01-05     44.4

In [47]:
df[cod].sort_values(by="MaxTemp", ascending=False).head(1)[["Location", "Date", "MaxTemp"]]

       Location        Date  MaxTemp
122928    Perth  2015-01-05     44.4

### Group your dataframe by location and find out the averages of all numeric values.

In [48]:
df.groupby(by="Location").mean()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
Location,,,,,,,,,,,,,,,,
Adelaide,12.579505,22.898934,1.566354,5.770364,7.747993,36.499211,9.950125,15.471455,59.701066,44.828105,1018.764082,1016.803264,NaN,NaN,16.929046,21.557447
Albany,12.948438,20.070998,2.263859,4.213345,6.657460,NaN,12.503189,18.993498,74.805416,67.407917,1018.275721,1016.497280,5.191539,4.808072,16.236455,18.411555
Albury,9.530604,22.640872,1.914115,NaN,NaN,32.977394,8.211151,14.382965,74.070604,47.869393,1018.369621,1015.760752,6.391001,5.406447,14.361135,21.373780
AliceSprings,13.142284,29.248420,0.882850,9.026832,9.581944,40.531281,14.727452,18.101053,39.690155,24.131466,1016.684732,1012.871913,2.845898,3.251213,21.335658,28.010764
BadgerysCreek,11.131719,24.031208,2.193101,NaN,NaN,33.600409,8.051351,14.005404,76.895770,51.381855,1018.461598,1015.635120,NaN,NaN,16.571698,22.522698
Ballarat,7.367950,18.287266,1.740026,NaN,NaN,44.982719,19.976913,22.766798,81.817820,59.030992,1017.845093,1016.271201,5.797915,6.285643,11.672457,16.788365
Bendigo,8.593713,21.621746,1.619380,3.851730,NaN,38.850000,12.936100,17.159091,70.545664,46.474325,1018.026281,1015.873135,4.400097,4.855379,13.845275,20.249737
Brisbane,16.423807,26.448380,3.144891,5.407940,8.081170,28.212881,6.944236,10.998744,64.043587,53.912209,1018.232989,1015.099278,3.918546,3.879975,21.841173,24.753461
Cairns,21.220467,29.558849,5.742035,6.256891,7.571451,38.031436,15.902929,21.911813,69.936821,61.751645,1014.151333,1011.099441,4.560184,4.445196,25.820105,27.909112
Canberra,6.821866,20.976639,1.741720,4.399672,7.402038,40.064214,10.407546,19.127918,73.218500,45.825350,1018.986480,1016.236299,4.870981,4.784630,12.677297,19.472878
Cobar,13.149451,25.870093,1.127309,6.744861,8.674364,36.750590,14.655749,15.144478,55.152913,33.870666,1017.971937,1015.304325,3.303918,3.859682,18.119160,24.545203
CoffsHarbour,14.437108,23.965385,5.061497,3.905154,7.358367,39.227925,15.280870,21.201916,67.938127,62.351858,1018.215308,1015.829292,4.326958,4.501121,20.170942,22.343873
Dartmoor,8.620034,19.697454,2.146567,3.424808,6.502065,38.898299,10.822970,17.946010,85.217907,62.456537,1018.002479,1016.509885,NaN,NaN,12.588893,18.182139
Darwin,23.209305,32.540977,5.092452,6.318668,8.499310,40.582355,15.009088,20.831401,68.486216,51.827954,1011.888784,1008.349107,4.337093,4.310345,27.185625,31.082733
GoldCoast,17.363286,25.767062,3.769396,NaN,NaN,42.476370,19.349667,25.861416,66.327495,62.980515,1017.922113,1015.214643,NaN,NaN,22.375847,23.771603
Hobart,9.078578,17.865727,1.601819,3.601538,6.580151,47.530915,16.307861,19.813225,65.622055,52.944654,1014.531297,1012.961873,4.839901,4.959012,12.462406,16.172955
Katherine,20.553564,34.935436,3.201090,7.327003,NaN,38.771465,12.134432,15.772901,63.790247,42.761456,1012.791122,1008.486078,2.579701,3.186183,26.649544,33.546604
Launceston,7.836190,18.954911,2.011988,6.166667,NaN,35.634852,8.447117,15.562892,79.500000,57.322442,1015.679279,1013.754213,6.306207,5.718329,12.026269,17.687294
Melbourne,11.779174,20.769358,1.870062,4.650282,6.385307,45.610255,19.128800,22.097401,67.545555,51.180710,1017.634427,1015.778450,5.314034,5.336368,14.596091,19.264489
MelbourneAirport,9.973945,20.491858,1.451977,4.644378,6.381283,46.919172,20.278923,23.081422,70.115961,51.171333,1018.087670,1016.279096,5.246261,5.263298,14.124925,18.952077
Mildura,10.731572,24.840944,0.945062,5.936757,8.468533,37.168775,14.001663,16.694814,64.103792,35.402329,1018.771481,1016.262654,3.382906,3.918909,15.528291,23.427726
Moree,12.905853,26.950548,1.630203,7.624956,8.898589,39.890177,18.129043,16.847372,61.376705,35.808589,1018.312429,1014.928624,3.365844,3.981958,18.867132,25.651113
MountGambier,8.825477,19.828995,2.087562,3.437072,6.511167,42.866466,17.528868,22.433993,75.492734,57.329043,1017.937656,1016.375848,5.520478,5.478840,13.784858,18.176277
MountGinini,3.577280,11.663676,3.292260,NaN,NaN,46.253951,15.991844,15.232377,77.146697,69.722609,NaN,NaN,NaN,NaN,6.815185,10.209180
Newcastle,13.760007,24.101070,3.183892,NaN,NaN,NaN,5.978448,10.614354,74.061429,57.362684,NaN,NaN,4.128306,4.311491,18.119251,22.325534
Nhil,8.999809,22.405153,0.934863,NaN,NaN,42.542438,16.457088,20.948506,73.042594,44.919263,1018.537063,1016.395868,NaN,NaN,13.382708,20.871837
NorahHead,15.355481,22.588937,3.387299,NaN,NaN,42.183051,13.930837,21.027937,74.590756,67.521198,1018.258148,1016.013331,NaN,NaN,18.467611,20.764211
NorfolkIsland,16.871875,21.830253,3.127665,4.742703,7.021751,42.607420,20.173609,21.890921,70.781292,67.836714,1017.597501,1015.856801,5.021067,4.849729,19.783822,20.470070
Nuriootpa,9.363242,21.704133,1.390343,5.082404,7.672577,40.672269,14.242891,18.171304,66.760253,45.425567,1018.910959,1016.790003,4.679389,4.877679,14.852064,20.305663
PearceRAAF,12.303850,26.051238,1.669080,NaN,8.795306,43.579958,16.029107,20.297352,60.823352,42.079142,1017.635609,1015.096075,3.846389,4.031366,18.832230,24.497083
Penrith,12.577449,24.764366,2.175304,NaN,NaN,31.807330,6.357262,11.990391,75.822630,49.098990,NaN,NaN,NaN,NaN,16.984267,23.354091
Perth,12.922706,25.034837,1.906295,5.606579,8.784536,34.882999,10.693392,14.519737,62.688128,46.906122,1017.784398,1015.420457,3.383579,3.469740,18.573598,23.461748
PerthAirport,12.580359,25.533234,1.761648,5.662832,8.795306,44.201822,17.753575,21.268285,58.775673,41.923205,1017.890323,1015.366789,3.371467,3.444260,18.773480,24.086935
Portland,9.586867,18.055053,2.530374,3.424808,6.502065,42.059852,16.329564,20.787828,78.711149,65.991656,1017.684084,1016.624041,6.338082,6.066667,13.195745,16.504204
Richmond,11.364202,24.458664,2.138462,5.259236,NaN,34.866283,7.005732,14.849596,76.897627,49.000000,1018.696812,1015.640753,6.246281,5.510309,16.566015,23.128682
Sale,8.567420,20.282281,1.510167,3.830098,6.683663,42.479777,14.306489,22.265979,78.918729,56.353707,1017.815492,1015.889212,5.345907,5.094383,13.416628,18.782646
SalmonGums,9.313007,24.250827,1.034382,NaN,NaN,39.748372,16.298192,17.302286,62.806408,40.751771,NaN,NaN,NaN,NaN,17.046610,22.661518
Sydney,14.866826,23.001975,3.324543,5.189220,7.179567,41.757589,15.075347,19.324797,68.221989,54.694386,1018.343906,1016.018163,4.180115,4.218626,17.821923,21.533473
SydneyAirport,14.901729,23.383915,3.009917,5.253797,7.191346,47.234280,18.594145,25.769614,64.834719,53.904825,1018.361213,1015.972854,4.280532,4.278498,18.544880,21.780352
Townsville,20.417874,29.367160,3.485592,7.198949,8.457814,38.840570,15.227452,24.251728,63.954276,57.400987,1015.165493,1011.905691,4.300070,4.012667,25.634967,27.769934
Tuggeranong,7.242133,20.767545,2.164043,NaN,NaN,35.215883,7.653183,14.894667,72.827095,47.185724,1018.505622,1015.655680,NaN,NaN,12.573899,19.422472
Uluru,14.466688,30.383195,0.784363,NaN,NaN,41.268373,17.616732,17.028424,42.664107,24.127700,1017.101403,1013.307751,5.543103,4.834532,21.012348,29.054511
WaggaWagga,9.617182,23.031871,1.709946,5.178823,8.197864,36.648105,12.855766,16.218085,67.856953,42.586574,1018.510037,1015.859854,3.854989,4.194993,14.925457,21.749950
Walpole,11.806631,20.459184,2.906846,NaN,NaN,39.818836,13.915910,17.227410,76.119266,66.316022,1017.878811,1016.237047,NaN,NaN,15.926158,18.560134
Watsonia,10.131879,20.896078,1.860820,4.644378,6.381283,38.059219,9.910239,15.183843,78.383973,54.708873,1018.030229,1016.085045,5.246261,5.263298,13.766010,19.395181
Williamtown,12.780180,24.001065,3.591108,6.801387,7.153063,41.677801,16.474599,22.237921,71.773742,53.937708,1018.436370,1015.919746,4.700042,4.484322,18.079694,22.499435
Witchcliffe,10.775067,21.686247,2.895664,NaN,NaN,40.085013,13.966367,19.164616,71.364753,57.780180,1018.395130,1016.732974,NaN,NaN,16.542895,19.810376
Wollongong,14.939471,21.468174,3.594903,NaN,NaN,45.690842,16.618351,21.926270,67.661906,65.128571,1018.149331,1016.055809,6.222305,5.855328,18.190203,19.934872
Woomera,13.363727,26.596707,0.490405,10.141440,9.047932,44.156566,20.002662,20.605728,53.127503,28.402414,1018.632655,1015.969917,2.518027,2.891489,17.924701,25.201896

### You are given a data set consisting of variables with more than 30 percent missing values. How will you deal with them?(Please answer regarding for both small and large data sets)

1. Neden eksik ? 
2. EksÄ±k satÄ±rda diÄŸer sutunlarÄ±n durumu nasÄ±l ?
3. DiÄŸer sutunlardan yardÄ±mla doldurma

 ### What is correlation and covariance in statistics?

https://piyasarehberi.org/yatirim/portfoy-yonetimi/139-kovaryans-ve-korelasyon-nedir#:~:text=Kovaryans%20de%C4%9Fi%C5%9Fkenlerin%20hareket%20y%C3%B6n%C3%BCn%C3%BC%20g%C3%B6sterirken,ya%20da%20do%C4%9Frusal%20ba%C4%9F%20bulunmaktad%C4%B1r.

* Ä°ki deÄŸiÅŸkenin birbirleri ile iliÅŸkisini ortaya koymak iÃ§in kullanÄ±lÄ±r
* Kovaryanstan farklÄ± olarak kolerasyon bu iliÅŸkini derecesini de gÃ¶steririr
* Kovaryans iki deÄŸiÅŸkenin birbirleri ile olan iliÅŸkisini gÃ¶steririr
* Kovaryans deÄŸikenlerin hareket yÃ¶nÃ¼nÃ¼ gÃ¶sterirken kolerasyon iki deÄŸiÅŸkenin birbirine ne kadar benzerlikle hareket ettiÄŸini gÃ¶sterir
* !!! Nedensellikle ile korelasyon birbirine karÄ±ÅŸtÄ±rÄ±lmamalÄ±dÄ±r.